
<% include partials/header %>


<h1>this is the rumors page</h1>

<% rum.forEach( rum => { %>
    <div> 
       <h5> <%= rum.class %> </h5>
       <p> <%= rum.rumor %> </p>
    </div>
<% }); %> 


<% include partials/footer %>